http:// {

    handle_path /app1/* {
        reverse_proxy http://app1:10000
    }

    log {
         output stdout
    }

    handle_path /app2/* {
        reverse_proxy http://app2:10000
    }

    log {
         output stdout
    }
}